{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-var": "error",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "func-names": "off", // 函数不能是匿名函数
    "react/no-array-index-key": "off", // 数组不能使用index作为key
    "@typescript-eslint/no-unused-vars": "off", // 没有使用的变量
    "no-console": "off", // console关掉
    "linebreak-style": "off", // 换行风格-> window和mac不同
    "@typescript-eslint/no-var-requires": "off", // 可以使用request，不用报错了
    "@typescript-eslint/semi": "off", // 结束分号可以不用带
    "@typescript-eslint/indent": "off", // tab键不能使用，必须换成两个空格，所以禁掉
    "no-tabs": "off"
  },
  "settings": {
    "react": {
      "version": "^16.13.1" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module",
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "globals": {
    "require": true
  }
}