{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "no-var": "error",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ],
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
    "func-names": 0, // 函数不能是匿名函数
    "react/no-array-index-key": 0, // 数组不能使用index作为key
    "@typescript-eslint/no-unused-vars": 0, // 没有使用的变量
    "no-console": 0, // console关掉
    "linebreak-style": 0, // 换行风格-> window和mac不同
    "@typescript-eslint/no-var-requires": 0, // 可以使用request，不用报错了
    "@typescript-eslint/semi": 0, // 结束分号可以不用带
    "@typescript-eslint/indent": 0, // tab键不能使用，必须换成两个空格，所以禁掉
    "no-tabs": 0,
    "no-nested-ternary": 0, // 可以嵌套三元表达式
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/forbid-prop-types": 0, // 可以使用prop-type
    "react/jsx-props-no-spreading": 0, // 可以使用 <div {...props}>
    "prefer-destructuring": 0, // 可以使用const a = obj.a
    "max-len": 0, // 每行最大100个字符限制除去
    "no-param-reassign": 0, // 函数的参数可以赋值
    "@typescript-eslint/no-use-before-define": 0, // fun在定义之前可以使用
    "arrow-parens": 0, // 箭头函数参数周围可以没有括号
    "consistent-return": 0, // 生成器方法的结尾可以不带返回值
    "react/jsx-fragments": 0, // 可以使用<></>
    "import/no-extraneous-dependencies": 0, // 额外的依赖
    "no-plusplus": 0, // 可以使用一元运算符 ++ --
    "no-restricted-syntax": 0,
    "no-constant-condition": 0, // 可以使用常量作为条件值
    "no-underscore-dangle": 0, // 可以使用 __这样的形式 window.__state = state
  },
  "settings": {
    "react": {
      "version": "^16.13.1" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module",
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "globals": {
    "require": true
  }
}