/**
 * @description: 
 * @author: zs
 * @Date: 2020-06-15 10:51:25
 * @LastEditTime: 2020-06-15 10:51:25
 * @LastEditors: zs
 */
{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    // 禁止使用 var
    "no-var": "error",
    // 优先使用 interface 而不是 type
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off", // 有些属性没有传递给组件，会报错
    "no-debugger": 0,
    "@typescript-eslint/no-unused-vars":0, // 没有使用的变量
    "react/no-array-index-key": 0, // map时不能用index作为key
    "func-names": 0, // 函数没有名字， const fn = function(){}
    "import/no-extraneous-dependencies":0, // 没有依赖项，有的没有依赖项，比如本项目中的react-redux
    "no-console":0 
  },
  "settings": {
    "react": {
      "version": "^16.13.1" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module",
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "globals": {
    "require": true
  }
}